body {
  height: 900px;
  background-image: url("../../imgs/LandingPage.jpg");
  background-size: cover;
  background-position: center center;
}
.landingBody {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    "landingPage landingPage landingPage"
    ". . .";
}
.landingPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". title ."
    ". buttonHome .";
  justify-items: stretch;
  grid-area: landingPage;
}
.title {
  justify-self: center;
  align-self: center;
  grid-area: title;
}
.buttonHome {
  justify-self: center;
  align-self: center;
  grid-area: buttonHome;
}
